
<link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
<script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js">
</script>
@{
    ViewBag.Title = "Lose";
}

<div class="ui inverted vertical masthead center aligned segment">

    <div class="ui text container">
        <h1 style="margin-top: 5em" class="ui inverted header">
            Вы проиграли(
        </h1>

        <br />
        <a href="~/Questions/Index" style="margin-top: 3em; margin-bottom: 8em" class="ui huge primary button">
            Новая игра
            <i class="right arrow icon"></i>
        </a>
    </div>
</div>


